<div class="container-login">
    <div class="container-login__logo">
        <img src="../../../assets/img/login/logo.svg" alt="">
    </div>
    <div class="container-login__form">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Ingresar">
                <div class="login">
                    <mat-form-field appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput>
                      </mat-form-field>
                      

                      <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>

                      <button class="btn btn-primary">Iniciar Sesión</button>

                      <div class="login-footer">
                          <p>o Ingresar con</p>
                          <div class="login-footer__othersocial">

                          </div>
                          <a routerLink="../reset-password">¿Olvidaste tu contraseña?</a>
                      </div>

                </div>

            </mat-tab>
            <mat-tab label="Registrarse">
              <div class="login">
                  <mat-form-field appearance="fill">
                      <mat-label>Usuario</mat-label>
                      <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                      <mat-label>Correo Eletrónico</mat-label>
                      <input matInput>
                    </mat-form-field>
                    

                    <mat-form-field appearance="fill">
                      <mat-label>Contraseña</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>

                    <button class="btn btn-primary">Registrarte</button>

                    <div class="login-footer">
                        <p>o Ingresar con</p>
                        <div class="login-footer__othersocial">

                        </div>
                    </div>
              </div>

            </mat-tab>
          </mat-tab-group>
          
    </div>
</div>