@import '../../../sass/variable';

.container-login {
    height: 100%;
    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__logo{
        margin-bottom: 30px;
    }
    .login {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        button{
            margin-top: 20px;
        }
        &-footer{
            text-align: center;
            margin-top: 40px;
            p{
                color: $color-black
            }
            &__othersocial{
                margin-bottom: 50px;
            }
            a{
                text-decoration: none;
                color: $color-primary;
                font-size: 14px;
            }
        }
    }

    &__form{
        width: 100%;
    }
}