@import './variable';


.btn{
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    &-primary{
        background: $color-primary;
        width: 100%;
        padding: 15px;
        border-radius: 50px;
        color: $color-white;
    }
}