@import '../../../sass/variable';

.container-code{
    padding: 5%;
    &__description{
        text-align: center;
        color: $color-black;
        padding: 0 5%;
        padding-bottom: 80px;
        h2{
            margin: 0;
            padding-top: 35px;
            font-size: 22px;
            padding-bottom: 15px;
        }
        p{
            margin: 0;
            font-size: 13px;
        }
    }
    &__form{
        padding: 0 5%;
        text-align: center;
        .code {
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                font-size: 40px;
                text-align: center;
            }
        }
        button{
            margin-bottom: 15px;
        }
        a{
            text-decoration: none;
            color: #00A9E3;
            font-size: 16px;
            cursor: pointer;
        }
    }
    
    button{
        margin-top: 40px;
    }
}