<div class="container-code">
    <a class="container-code__return" routerLink="../reset-password">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    </a>

    <div class="container-code__description">
        <h2>Ingresa el Código de Correo</h2>
        <p>Ingresa el Código de Correo</p>
    </div>

    <div class="container-code__form">
        <div class="code">
            <mat-form-field appearance="fill">
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput>
            </mat-form-field>
        </div>
        

        <button class="btn btn-primary" routerLink="../update-password">Continuar</button> 
        <a (click)="resendCodeMessage()">Reenviar el código a correo</a>

    </div>

</div>