<div class="container-reset">
    <a class="container-reset__return" routerLink="../login">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    </a>

    <div class="container-reset__description">
        <h2>Recupera tu Contraseña</h2>
        <p>Ingresa el correo con el que creaste tu cuenta para enviar un código de recuperación.</p>
    </div>

    <div class="container-reset__form">
        <mat-form-field appearance="fill">
            <mat-label>Correo Eletrónico</mat-label>
            <input matInput>
          </mat-form-field>

        <button class="btn btn-primary" routerLink="../validate-code">Enviar Código</button>

    </div>

</div>