/* You can add global styles to this file, and also import other style files */
@import './sass/reset';
@import 'material-icons/iconfont/material-icons.scss';
@import './sass/variable';
@import './sass/buttons';

@import './sass/general';


/* Estilos en inpu */
.mat-form-field {
    width: 100%;
}
.mat-form-field-flex {
    background: none !important;
}
.mat-form-field-flex {
    border-bottom: 1px solid $color-gray;
}
mat-tab-header {
    margin-bottom: 20px;
}

.mat-ripple.mat-tab-label {
    width: 50%;
}

mat-ink-bar.mat-ink-bar {
    background-color: $color-primary !important;
}
.mat-tab-label{
    color: $color-gray;
}
.mat-tab-label-active{
    color: $color-primary !important;
}
.mat-form-field-flex,
.mat-form-field-infix {
    padding: 0 !important;
}

.mat-form-field-infix{
    input{
        padding: 15px 0;
    }
}
mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    color: $color-gray;
}



.mat-form-field-should-float mat-label{
    color: $color-primary;
}



/* Reset sweet */
.swal2-actions {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.swal2-container.swal2-center.session.swal2-backdrop-show {
    padding: 7%;
}

.session 
.swal2-popup.swal2-modal.swal2-show {
    border-radius: 15px;
    padding-bottom: 70px;
}
.container-passwordChange img {
    width: 30%;
}

.container-passwordChange h2 {
    font-size: 18px;    
}

.container-passwordChange p {
    padding-top: 20px;
    font-size: 13px;    
}


button.swal2-confirm.btn-anybg.Gotham-notbold {
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    padding: 15px 5px;
    border: none;
    background: transparent;
    border-top: 1px solid $color-gray;
    color: $color-primary;
}