@import '../../../sass/variable';

.container-update{
    padding: 5%;
    &__description{
        text-align: center;
        color: $color-black;
        padding: 0 5%;
        padding-bottom: 40px;
        h2{
            margin: 0;
            padding-top: 35px;
            font-size: 22px;
            padding-bottom: 15px;
        }
        p{
            margin: 0;
            font-size: 13px;
        }
    }
    &__form{
        padding: 0 5%;
    }
    
    button{
        margin-top: 40px;
    }
}